body {
  font-size: 12px;
}

#header {
  margin-top: 1%;
}

#logo {
  max-height: 200px;
}

#search-results {
  margin-top: 2%;
}

#set-user {
  border: 1px solid gray;
  border-radius: 5px;
}

#it-view {
  margin-top: 2%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

#view-profile {
  margin-top: 2%;
}

#profile-first,
#profile-last {
  font-size: 1.9em;
  font-weight: bold;
}

#profile-info {
  font-size: 1.2em;
  line-height: 1.3em;
  color: rgb(104,104,104);
}

#profile-id,
#profile-title,
#profile-description,
#profile-email,
#profile-manager,
#profile-manager-name {
  color: black;
}

#profile-description-label {
  display: inline-block;
}

#profile-description {
  display: inline;
}

#edit-button,
#org-button,
#delete-button {
  width: 130px;
}

#edit-profile {
  margin-top: 2%;
}

.missing-field {
  color: red;
}

.employee-profile,
.employee-org {
  width: 105px;
}
