body {
  font-size: 12px;
}

.error {
  color: red;
}

#header {
  margin-top: 1%;
}

#logo {
  max-height: 200px;
  margin: auto;
}

#my-colleagues {
  font-size: 3.6em;
  font-family: 'Bitter', serif;
  font-weight: bold;
  color: rgb(139,163,200);
}

#user {
  margin-top: 1%;
  box-shadow: 0 0 10px #777;
  border-radius: 5px;
}

#current-user {
  font-size: 1.4em;
  font-weight: bold;
}

#select-user {
  font-size: 2em;
  font-style: italic;
  color: rgb(38,34,91);
}

#search-results {
  margin-top: 2%;
  margin-left: 10%;
}

#it-view {
  margin-top: 2%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

#home {
  margin-top: 4%;
}

#view-profile {
  margin-top: 3%;
}

#profile-first,
#profile-last {
  font-size: 1.9em;
  font-weight: bold;
}

#profile-photo {
  max-height: 150px;
}

#profile-info {
  font-size: 1.2em;
  line-height: 1.3em;
  color: rgb(104,104,104);
}

#profile-id,
#profile-title,
#profile-description,
#profile-email,
#profile-manager,
#profile-manager-name {
  color: black;
}

#profile-email {
  color: rgb(17,85,204);
  text-decoration: underline;
}

#profile-email:hover {
  color: rgb(249,166,2);
  text-decoration: none;
}

#profile-description-label {
  display: inline-block;
}

#profile-description {
  display: inline;
}

#edit-button,
#org-button,
#delete-button,
#new-collab-button {
  width: 150px;
}

#collaborations {
  font-size: 1.4em;
  font-weight: bold;
}

#edit-profile {
  margin-top: 2%;
}

.employee-profile,
.employee-org {
  width: 105px;
}
